<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <title>Messenger</title>
</head>
<body>

<div class="container messenger-container">
    <div class="sidebar">
        <div class="avatar">
            <img src="{{ avatar_url }}" alt="Аватар" />
            <div class="dropdown-menu">
                <button class="dropdown-item edit-profile">Редактировать профиль</button>
                <button class="dropdown-item logout">Выйти</button>
            </div>
        </div>
        <div class="create-chat">
            <img src="{% static 'images/create-chat-icon.png' %}" alt="Создать беседу">
        </div>
        <h3>Беседы</h3>
        <div class="chat-list">
            {% for chat_room in chat_rooms %}
            <div class="chat-item {% if forloop.first %}selected{% endif %}" data-chat-id="{{ chat_room.id }}">{{ chat_room }}</div>
            {% empty %}
            <p>У вас пока нет чатов.</p>
            {% endfor %}
        </div>
    </div>
    <div class="chat-container">
        <div class="chat-header">
            <h2>{{ selected_chat_room }}</h2>
        </div>
        <div class="chat-messages">
            {% for message in messages %}
            <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">{{ message.text }}</div>
            {% endfor %}
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Введите сообщение...">
            <button disabled>Отправить</button>
        </div>
    </div>
</div>

</body>
</html>
