<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <title>Messenger - Вход</title>
</head>
<body>

<div class="container login-container">
    <h2>Вход</h2>
    <form class="login-form">
        <p>
            <label for="id_username">Имя пользователя:</label>
            <input type="text" name="username" maxlength="150" required="" id="id_username">
<!--            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>-->
        </p>
        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" maxlength="128" required="" id="id_password">
        </p>
        <button type="submit" class="btn-login">Войти</button>
    </form>

    <div class="signup-link">
        <p>Нет аккаунта? <a href="#">Регистрация</a></p>
    </div>

    <div class="info"></div>
</div>

</body>
</html>